
<table *ngIf="product" class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ product.name }} </td>
            <td> {{ product.id }} </td>
            <td> {{ product.price }} </td>
            <td><img [src]="productImagePath" alt=""></td>
        </tr>
    </tbody>

    <div [ngClass]="showAddButton">
        <button class="btn btn-primary m-2" (click)="addToCart()"> Add to Cart </button>
    </div>



</table>

<div [ngClass]="showCheckout">
    <p>you can either: </p>

    <button class="btn btn-primary m-2" (click)="continueShopping()">Continue Shopping</button>
    <button class="btn btn-success m-2" (click)="checkout()">Checkout</button>
</div>