

<ul class="navbar">
    <span class="left-nav">
        <li class="nav-item" routerLink="products">Home</li>
        <span class="admin-routes" *ngIf="userService.currentUser.id == 1">
            <li class="nav-item" routerLink="admin-product">Products</li>
            <li class="nav-item" routerLink="admin-sales">Sales</li>
        </span>
    </span>
    <span class="right-nav">
        <li class="nav-item" routerLink='cart'>Cart</li>
        <li class="nav-item" routerLink='profile' >Profile</li>
        <li class="nav-item" routerLink='login' >Login</li>
        <li class="nav-item" (click)="logout()" >Logout</li>
        <li class="nav-item" routerLink='signup' >Signup</li>

    </span>
</ul>