<!-- <p>products works!</p> -->
<table *ngIf="productService.products" class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="product-row pointer" *ngFor="let product of productService.products" (click)="getProduct(product)">
            <td>{{product.name}}</td>
            <td>{{product.id}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>